@page "/counter"
@inject GrpcChannel Channel
@using Google.Protobuf.WellKnownTypes
@using Grpc.Core

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private async Task IncrementCount()
    {
        var client = new Count.Counter.CounterClient(Channel);
        var call = client.StartCounter(new Empty());

        try
        {
            await foreach (var message in call.ResponseStream.ReadAllAsync())
            {
                currentCount = message.Count;
            }
        }
        catch (RpcException ex) when (ex.StatusCode == StatusCode.Cancelled)
        {
            // Ignore exception from cancellation
        }
    }
}
